
<!DOCTYPE html>
<html ng-app='MEAN'>
<head>
	<title>MEAN STACK</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>



	<!-- Scripts needed to be added -->
	<script type="text/javascript" src="../controllers/main.js"></script>

</head>
<body>

<div class="container">
	<h1 class="text-center">Contact Lists</h1>
	<table class="table" ng-controller='main'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Number</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td><input type="text" ng-model="name" placeholder="Name" required="required" class="form-control"></td>
				<td><input type="email" ng-model="email" placeholder="Email" required="required" class="form-control"></td>
				<td><input type="text" ng-model="number" placeholder="Contact No" required="required" class="form-control"></td>
				<td><button class="btn btn-info" ng-click='Add()'>Add</button></td>
			</tr>

			<tr ng-repeat='data in contactList'>
				<td>{{data.name}}</td>
				<td>{{data.email}}</td>
				<td>{{data.contact}}</td>
				<td><button class="btn btn-info">Edit</button></td>
				<td><button class="btn btn-danger" ng-click = "Delete(data._id)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>


</body>
</html>
